* {
	box-sizing: border-box;
}

h1, 
p {
	text-align: center;
}

#cat-img {
	position: fixed;
	top: 30%;
	left: 50%;
}

#cat-list {
	position: fixed;
	top: 10%;
	left: 10%;
	list-style-type: none;
}

#cat-list li {
	font-size: 45px;
}